body {
  padding: 0 !important;
}

html,
body {
  height: 100vh;
}

section {
  &.has-background {
    background: #f5f5f5;
    border-radius: 20px;
  }
}

.navbar-home-link {
  a {
    color: white
  }
}

.card.is-usp {
  background: none;
  box-shadow: none;
  margin: 0 auto;
  max-width: 320px;

  hr {
    background: none;
  }
}
